<app-home-header></app-home-header>
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <section class="m-profile setting-wrapper">        
        <div class="container">
            <h4 class="main-title mb-4">Account Setting</h4>
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <div class="sign-user_card text-center">
                        <img src="assets/images/user/user.jpg" class="rounded-circle img-fluid d-block mx-auto mb-3" alt="user">
                        <h4 class="mb-3">firstname</h4>    
                        <h4 class="mb-3">lastname</h4>                        
                        <h4 class="mb-3">phone</h4>                        
                        <h4 class="mb-3">email</h4>                        
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="sign-user_card">
                        <h5 class="mb-3 pb-3 a-border">Update Your Personal Details</h5>
                        <div class="col-lg-10 device-margin">
                            <div class="profile-from">
                                <form class="mt-4" action="index.html">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control mb-0" id="exampleInputl2"
                                            placeholder="Enter Your First Name" autocomplete="off" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control mb-0" id="exampleInputl2"
                                            placeholder="Enter Your Last Name" autocomplete="off" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" class="form-control mb-0" id="exampleInputl2"
                                            placeholder="Enter Your Phone" autocomplete="off" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control mb-0" id="exampleInputl2"
                                            placeholder="Enter Your Email" autocomplete="off" required>
                                    </div>
                                    <input type="submit" value="Update" class="btn btn-hover">

                                </form>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </section>
 
    <app-home-footer></app-home-footer>