<app-home-header></app-home-header>
  
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>

    <section class="m-profile manage-p">
        <div class="container h-100">
            <div class="row align-items-center justify-content-center h-100">
                <div class="col-lg-10">
                    <div class="sign-user_card">
                        <div class="row">
                            <div class="col-lg-10 device-margin">
                                <div class="profile-from">
                                    <h3 class="mb-3">Add Testimonial</h3>
                                    <p>Your testimonial will be reviewed by the admin to verify it and publish it on the site</p>
                                    <form class="mt-4" method="post" action="index.html">
                                        <div class="form-group">
                                            <textarea name="" id="" rows="3" type="text" class="form-control mb-0" 
                                                placeholder="Enter Your Message" required></textarea><br>
                                                <label>Rate Us :</label>
                                                <input placeholder="Enter Rate (1 - 5)" class="form-control mb-0" type="number" min="1" max="5"  >
                                        </div>
                                        <div class="d-flex">
                                            <input type="submit" value="Send" class="btn btn-hover">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-home-footer></app-home-footer>